<!-- Appended checkbox -->
<div class="form-group">
  <label class="control-label" for="{{ id }}">{{ label }}</label>
    <div class="input-group">
      <input id="{{ id }}" name="{{ id }}" class="form-control {{ inputsize }}" type="text" placeholder="{{ placeholder }}" {{#required}} required="true" {{/required}} {{^required}} {{/required}} />
      <div class="input-group-append">
        <div class="input-group-text">
          <input type="checkbox" {{#checked}}checked="checked"{{/checked}} />
      </div>
    </div>
    {{#helptext.length}} <span class="help-block">{{ helptext }}</span> {{/helptext.length}}
</div>
