<!-- Multiple Checkboxes -->
<div class="form-group row">
  <label class="col-md-4 col-form-label text-right font-weight-bold" for="{{ name }}">{{ label }}</label>
  <div class="col-md-4">{{ #checkboxes }}
    <div class="checkbox">
	    <label  for="mc-{{ name }}-{{ index }}">
	      <input type="checkbox" name="{{ name }}" id="mc-{{ name }}-{{ getIndex }}" value="{{ #checkboxesValues }}{{ #getNthValue }}{{.}}{{/getNthValue}}{{ /checkboxesValues }}" >
	      {{ . }}
	    </label>
	</div>{{ /checkboxes }}
	{{ resetIndex }}
  </div>
</div>
