<!-- Password input-->
<div class="form-group row">
  <label class="col-sm-4 col-form-label text-right font-weight-bold" for="{{ id }}">{{ label }}{{#required}} *{{/required}}{{^required}}{{/required}}</label>
  <div class="{{ inputwidth }}">
    <input id="{{ id }}" name="{{ id }}" type="password" placeholder="{{ placeholder }}" class="form-control {{ inputsize }}" {{#required}} required="true" {{/required}} {{^required}} {{/required}} />
    {{#helptext.length}} <span class="form-text text-muted">{{ helptext }}</span> {{/helptext.length}}
  </div>
</div>
