<!-- Prepended text-->
<div class="form-group">
  <label class="col-sm-4 control-label" for="{{ id }}">{{ label }}</label>
    <div class="input-group {{ inputsize }}">
      <div class="input-group-prepend">
        <span class="input-group-text">
          {{ prepend }}
        </span>
      </div>
      <input id="{{ id }}" name="{{ id }}" class="form-control" placeholder="{{ placeholder }}" type="text" {{#required}} required="true" {{/required}} {{^required}} {{/required}} />
    </div>
    {{#helptext.length}} <span class="help-block">{{ helptext }}</span> {{/helptext.length}}
</div>
