[project]
	description = "A bootstrap 3.0 form drag and drop builder, implemented in Jquery.  Based on:  https://github.com/minikomi/Bootstrap-Form-Builder"
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Tony Tan (tonytan4ever)
[access "refs/for/refs/*"]
	read = group user/Tony Tan (tonytan4ever)
	push = group user/Tony Tan (tonytan4ever)
	label-Code-Review = -2..+2 group user/Tony Tan (tonytan4ever)
	label-Verified = -1..+1 group user/Tony Tan (tonytan4ever)
	rebase = group user/Tony Tan (tonytan4ever)
	removeReviewer = group user/Tony Tan (tonytan4ever)
	submit = group user/Tony Tan (tonytan4ever)
[access "refs/heads/*"]
	read = group user/Tony Tan (tonytan4ever)
	create = group user/Tony Tan (tonytan4ever)
	push = +force group user/Tony Tan (tonytan4ever)
	pushMerge = group user/Tony Tan (tonytan4ever)
[access "refs/tags/*"]
	push = +force group user/Tony Tan (tonytan4ever)
	pushTag = group user/Tony Tan (tonytan4ever)
	pushSignedTag = group user/Tony Tan (tonytan4ever)
